hosts.ini
/terraform/*
!/terraform/main.tf
!/terraform/locals.tf
/terraform-prepare/*
!/terraform-prepare/main.tf
!/terraform-prepare/locals.tf
/group_vars/all.yml
/results/*
config.yml
/env/*
/experiments/*/results/*
