hosts.ini
/terraform/*
!/terraform/main.tf
!/terraform/locals.tf
/terraform-prepare/*
!/terraform-prepare/main.tf
!/terraform-prepare/locals.tf
!/terraform-prepare/outputs.tf
!/terraform-prepare/variables.tf
/terraform.tfstate
!/terraform-prepare/modules
/group_vars/all.yml
/results/*
/env/*
/experiments/*/results/*
/cleanup/*.zip
/cleanup/infra/*
!/cleanup/infra/*.tf
!/cleanup/infra/*.tfvars
