# Versions of Gitaly dependencies managed by asdf.
golang 1.24.5
ruby 3.3.8

# For linting documentation
nodejs 22.14.0 # Dependency for markdownlint-cli2
markdownlint-cli2 0.18.1
vale 3.11.2

# For building Git
meson 1.7.0
ninja 1.12.1
