# Versions of Gitaly dependencies managed by asdf.
golang 1.25.7
ruby 3.3.11

# For linting documentation
nodejs 24.15.0 # Dependency for markdownlint-cli2
markdownlint-cli2 0.22.1
lychee 0.24.2
vale 3.14.1

# For building Git
meson 1.7.0
ninja 1.12.1
