# This variable will be prefixed to all machines created by terraform
gitaly_benchmarking_deployment_name = "{{ gitaly_benchmarking_deployment_name }}"
ssh_pubkey = "{{ lookup('file', ssh_pubkey) }}"
experiment = "{{ gitaly_benchmarking_experiment_name }}"
